html {
	font: 12px/1.5 "PT Sans", "PT Serif Caption", "PT Serif";	
}

@media screen and (min-width: 500px) {
	html { 
		font-size: 14px;
	 }
}

@media screen and (min-width: 700px) {
	html { 
		font-size: 16px;
	 }
}

@media screen and (min-width: 1600px) {
	html { 
		font-size: 18px;
		font-family: SourceSans;
	 }
}
@media screen and (max-width: 600px) {
	.register-form {
	  width: 90%;
	  margin: 0 auto;
	}
  }
  /* Responsive styles */
  @media (max-width: 600px) {
    nav {
      flex-wrap: wrap;
      align-items: flex-start;
    }
    nav ul {
      width: 100%;
    }
    nav ul li {
      width: 100%;
      text-align: center;
      margin: 10px 0;
    }
  }
  @media screen and (max-width: 1000px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr) !important;
      grid-template-rows: repeat(2, auto);
      grid-gap: 20px;
    }
  }